In [1]:
## 5.2
c = [-45,6,0,72,1453]

In [2]:
c

[-45, 6, 0, 72, 1453]

In [3]:
c[1]

6

In [4]:
len(c)

5

In [5]:
c[4] = 18

In [6]:
c

[-45, 6, 0, 72, 18]

In [7]:
s = 'hello'

In [8]:
s[1]

'e'

In [9]:
s[1] = 'i'

TypeError: 'str' object does not support item assignment

In [10]:
s[0] + s[1] + s[2]

'hel'

In [11]:
c[0] + c[1] + c[2]

-39

In [12]:
a_list = []
for number in range(1, 6):
    a_list += [number]

In [13]:
a_list

[1, 2, 3, 4, 5]

In [14]:
 letters = []

In [15]:
letters += 'Python'

In [16]:
letters

['P', 'y', 't', 'h', 'o', 'n']

In [17]:
 list1 = [10, 20, 30]
 list2 = [40, 50]

In [18]:
list3 = list1+list2

In [19]:
list3

[10, 20, 30, 40, 50]

In [20]:
for i in range(len(list3)):
    print(f'{i}: {list3[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [3]:
n = int(input("Enter number of elements : "))
list = []
for i in range(0, n):
    ele = int(input())
    list.append(ele) 
    
def cube_list(values):
    for i in range(len(values)):
        values[i] **=3
    print(list)

cube_list(list)
## Brady Monks

Enter number of elements :  4
 7
 9
 1
 3

[343, 729, 1, 27]

In [4]:
characters = []
characters += 'Birthday'
characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

In [5]:
## 5.3
student_tuple = ()

In [6]:
len(student_tuple)

0

In [7]:
student_tuple = ('John','Green',3.3)

In [8]:
student_tuple

('John', 'Green', 3.3)

In [27]:
 time_tuple = (9, 16, 1)

In [28]:
time_tuple

(9, 16, 1)

In [29]:
 time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [30]:
time_tuple[1]

16

In [31]:
time_tuple += (6,7)

In [32]:
time_tuple

(9, 16, 1, 6, 7)

In [33]:
tupel = (123.45,)
tupel

(123.45,)

In [34]:
## 5.4
student_tuple = ('Amanda', [98, 85, 87])
first_name, grades = student_tuple

In [35]:
first_name

'Amanda'

In [36]:
grades

[98, 85, 87]

In [9]:
first, second = 'hi'

In [ ]:
## Brady Monks

In [38]:
print(f'{first} {second}')

h i

In [39]:
print(first,second)

h i

In [40]:
colors = ['red', 'orange', 'yellow']
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [41]:
for index, value in enumerate(colors):
    print(index,":", value)

0 : red
1 : orange
2 : yellow

In [42]:
# fig05_01.py
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"D" * value}')

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   DDDDDDDDDDDDDDDDDDD
    1       3   DDD
    2      15   DDDDDDDDDDDDDDD
    3       7   DDDDDDD
    4      11   DDDDDDDDDDD

In [43]:
high_low = ('Monday',98,74)

In [44]:
Day,High,Low = high_low

In [45]:
Day

'Monday'

In [46]:
high_low[0]
high_low[1]
high_low[2]

74

In [47]:
names = ['amonad','john','brad']
for index,values in enumerate(names):
    print(index,':', values)

0 : amonad
1 : john
2 : brad

In [48]:
## 5.5
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers [::5]

[2, 13]

In [49]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
numbers [0:2] = []

In [50]:
numbers[:] = []

In [51]:
numbers

[]

In [52]:
numbers = []
for i in range(1,16):
    numbers.append(i)
    
print(numbers[1::2])

[2, 4, 6, 8, 10, 12, 14]

In [53]:
numbers[5:10] = [0] * len(numbers[5:10])
numbers

[1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]

In [54]:
## 5.6
numbers = list(range(0,10))

In [55]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
del numbers [-1]

In [57]:
del numbers [3:5]
numbers

[0, 1, 2, 5, 6, 7, 8]

In [58]:
del numbers[::2]

In [59]:
numbers

[1, 5, 7]

In [60]:
## 5.7 
def modify(items):
    """Modify elements of list"""
    for i in range(len(items)):
        items[i] *= 2
numbers = [3,6,76,4,10]

In [61]:
modify(numbers)
numbers

[6, 12, 152, 8, 20]

In [62]:
## 5.8
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [63]:
numbers.sort(reverse=True)

In [64]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
letters = 'fadgchjebi'

In [66]:
ascending_letters = sorted(letters)

In [67]:
ascending_letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [68]:
food = ['Cookies','pizza','Grapes','apples','steak','Bacon']

In [69]:
abcFood = sorted(food)

In [70]:
print(abcFood)

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

In [71]:
## 5.9
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(8)

5

In [72]:
numbers *= 2

In [73]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [84]:
numbers.index(5,9)

14

In [87]:
key = 43

In [106]:
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

found 43 at index 3

In [101]:
numbers = [67, 12, 46, 43, 13]

In [107]:
key = 44

In [109]:
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(key,"not found")

44 not found

In [111]:
## Counting Occurences
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3,1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [114]:
for i in range(1,6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

In [245]:
responses.reverse()
responses

[2, 2, 3, 3, 2, 3, 3, 3, 4, 1, 3, 3, 1, 2, 5, 3, 4, 5, 2, 1]

In [246]:
## 5.11

In [256]:
stack = []

In [261]:
stack.append('red')

In [262]:
stack

['red']

In [259]:
stack.pop()

'red'

In [263]:
stack.append('green')

In [264]:
stack.pop()

'green'

In [266]:
stack

['red']

In [267]:
## 5.12

list1 = []

In [269]:
for item in range(1,6):
    list1.append(item)

In [270]:
list1

[1, 2, 3, 4, 5]

In [271]:
list2 = [item for item in range(1,6)]

In [272]:
list2

[1, 2, 3, 4, 5]

In [273]:
## Mapping
list3 = [item **3 for item in range(1,6)]

In [274]:
list3

[1, 8, 27, 64, 125]

In [275]:
 list4 = [item for item in range(1, 11) if item % 2 == 0]

In [276]:
list4

[2, 4, 6, 8, 10]

In [277]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [278]:
colors2 = [item.upper() for item in colors]

In [280]:
colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [282]:
## 5.13
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [285]:
 for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end= ' ')

9 49 1 81 25

In [286]:
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

In [287]:
squares_of_odds

In [289]:
numbers = [10, 3, 7, 1, 9, 4, 2]

In [294]:
cube_evens = (x ** 3 for x in numbers if x % 2 == 0)

In [296]:
x ** 3 for x in numbers if x % 2 == 0

SyntaxError: invalid syntax (<ipython-input-296-2737c63e0df4>, line 1)

In [297]:
for value in (x ** 3 for x in numbers if x % 2 == 0):
    print(value, end= ' ')

1000 64 8

In [293]:
cube_evens

In [1]:
## 5.14
numbers = [10, 3, 7, 1, 9, 4, 2]
list(map(lambda x: x ** 2,
            filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81]

In [2]:
[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81]

In [3]:
list1 =[]
for item in range(1,16):
    list1.append(item)

In [4]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [5]:
list2 = list(range(1, 16))

In [6]:
list(filter(lambda x: x % 2 == 0, list2))

[2, 4, 6, 8, 10, 12, 14]

In [8]:
## 5.16
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

In [9]:
a

[[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

In [11]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

In [13]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ',end='')
        
## Brady Monks

a[0][0]=77 a[0][1]=68 a[0][2]=86 a[0][3]=73 a[1][0]=96 a[1][1]=87 a[1][2]=89 a[1][3]=81 a[2][0]=70 a[2][1]=90 a[2][2]=86 a[2][3]=81

In [2]:
## 6.1
country_codes = {'Finland': 'fi', 'South Africa': 'za','Nepal': 'np'}

In [3]:
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [4]:
 len(country_codes)

3

In [5]:
states = {'Missouri':'MO','Kansas':'KS','Nebraska':'NE'}

In [6]:
states

{'Missouri': 'MO', 'Kansas': 'KS', 'Nebraska': 'NE'}

In [7]:
## 6.2
days_per_month = {'January': 31, 'February': 28, 'March': 31}

In [8]:
days_per_month

{'January': 31, 'February': 28, 'March': 31}

In [11]:
for month, days in days_per_month.items():
    print("there are",days,"days in",month,".")

there are 31 days in January .
there are 28 days in February .
there are 31 days in March .

In [36]:
 roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [37]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [38]:
roman_numerals['X'] = 10

In [39]:
roman_numerals['L'] = 50

In [40]:
roman_numerals['L']

50

In [41]:
del roman_numerals['L']

In [42]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

In [43]:
roman_numerals.pop('X')

10

In [49]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5}

In [52]:
roman_numerals.get('V')

5

In [53]:
 roman_numerals.get('III')

3

In [56]:
roman_numerals.get('IvI', 'IvI not in dictionary')

'IvI not in dictionary'

In [57]:
 months = {'January': 1, 'February': 2, 'March': 3}

In [58]:
for month in months.keys():
    print(month, end=' ')

January February March

In [59]:
months['December'] = 12

In [60]:
list(months.keys())

['January', 'February', 'March', 'December']

In [61]:
list(months.values())

[1, 2, 3, 12]

In [62]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

In [63]:
for month in sorted(months.keys()):
    print(month,end=' ')

December February January March

In [64]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5}

In [65]:
list(roman_numerals.values())

[1, 2, 3, 5]

In [66]:
list(roman_numerals.items())

[('I', 1), ('II', 2), ('III', 3), ('V', 5)]

In [67]:
list(roman_numerals.keys())

['I', 'II', 'III', 'V']

In [68]:
country_capitals1 = {'Belgium': 'Brussels','Haiti': 'Port-au-Prince'}

In [69]:
 country_capitals2 = {'Nepal': 'Kathmandu','Uruguay': 'Montevideo'}

In [70]:
country_capitals3 = {'Haiti': 'Port-au-Prince','Belgium': 'Brussels'}

In [71]:
country_capitals1 == country_capitals2

False

In [73]:
country_capitals1 == country_capitals3

True

In [74]:
country_capitals2 != country_capitals3

True

In [75]:
# fig06_01.py
"""Using a dictionary to represent an instructor's grade book."""
grade_book = {            
    'Susan': [92, 85, 100], 
    'Eduardo': [83, 95, 79],
    'Azizi': [91, 89, 82],  
    'Pantipa': [97, 91, 92] 
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
    
print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33
Class's average is: 89.67

In [76]:
# fig06_02.py
"""Tokenizing a string and counting unique words."""

text = ('this is sample text with several words ' 
        'this is more sample text with some different words')

word_counts = {}

# count occurrences of each unique word
for word in text.split():
    if word in word_counts: 
        word_counts[word] += 1  # update existing key-value pair
    else:
        word_counts[word] = 1  # insert new key-value pair

print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')

print('\nNumber of unique words:', len(word_counts))

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words: 10

In [77]:
word_counts

{'this': 2,
 'is': 2,
 'sample': 2,
 'text': 2,
 'with': 2,
 'several': 1,
 'words': 2,
 'more': 1,
 'some': 1,
 'different': 1}

In [79]:
## 6.2.7
from collections import Counter

In [174]:
text = ('the chiefs will win the super bowl this year''This will happen - Brady Monks')

In [175]:
text

'the chiefs will win the super bowl this yearThis will happen - Brady Monks'

In [176]:
counter = Counter(text.split())

In [177]:
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

-           1
Brady       1
Monks       1
bowl        1
chiefs      1
happen      1
super       1
the         2
this        1
will        2
win         1
yearThis    1

In [178]:
sorted(counter.items())

[('-', 1),
 ('Brady', 1),
 ('Monks', 1),
 ('bowl', 1),
 ('chiefs', 1),
 ('happen', 1),
 ('super', 1),
 ('the', 2),
 ('this', 1),
 ('will', 2),
 ('win', 1),
 ('yearThis', 1)]

In [179]:
print('Number of unique keys:', len(counter.keys()))

Number of unique keys: 12

In [87]:
import random
from collections import Counter

In [102]:
numbers_counted_sorted

[1, 2, 3, 4, 5]

In [123]:
numbers = [random.randrange(1,6) for i in range(50)]
numbers_counted = Counter(numbers)
for number, count in sorted(numbers_counted.items()):
    print(f'{number:<12}{count}')

1           10
2           8
3           10
4           12
5           10

In [124]:
 country_codes = {}

In [125]:
country_codes.update({'South Africa': 'za'})

In [126]:
country_codes

{'South Africa': 'za'}

In [127]:
 country_codes.update(Australia='ar')

In [129]:
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [130]:
country_codes.update(Australia='au')

In [131]:
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [132]:
 months = {'January': 1, 'February': 2, 'March': 3}

In [133]:
months2  = {number: name for name, number in months.items()}

In [134]:
months2

{1: 'January', 2: 'February', 3: 'March'}

In [135]:
 grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}

In [137]:
grades2 = {k: sum(v)/len(v) for k, v in grades.items()}

In [138]:
grades2

{'Sue': 93.0, 'Bob': 90.0}

In [140]:
numbers = {1,2,3,4,5}

In [142]:
numbers_cubed = {k: k**3 for k in numbers}

In [143]:
numbers_cubed

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [144]:
## 6.3
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}

In [145]:
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [146]:
'red' in colors

True

In [147]:
'purple' in colors

False

In [148]:
x = 'blue'

In [149]:
x in colors

True

In [150]:
for x in colors:
    print(x.upper(), end=' ')

RED YELLOW ORANGE BLUE GREEN

In [152]:
 numbers = list(range(10)) + list(range(5))

In [154]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [155]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [156]:
text = 'to be or not to be that is the question'

In [157]:
unique = text.split()

In [158]:
unique

['to', 'be', 'or', 'not', 'to', 'be', 'that', 'is', 'the', 'question']

In [160]:
unique_set = set(unique)

In [161]:
unique_set

{'be', 'is', 'not', 'or', 'question', 'that', 'the', 'to'}

In [162]:
sorted(unique_set)

['be', 'is', 'not', 'or', 'question', 'that', 'the', 'to']

In [181]:
for word in sorted(unique_set):
    print(word,end = ' ')

be is not or question that the to

In [182]:
set('abc def ghi jkl mno').issuperset('hi mom')

True

In [183]:
 {1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [184]:
 {1, 3, 5} & {2, 3, 4}

{3}

In [185]:
 {1, 3, 5} - {2, 3, 4}

{1, 5}

In [188]:
 {1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [189]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])
## BRady Monks

{1, 2, 4, 5, 7}

In [190]:
 {10, 20, 30} & {5, 10, 15, 20}

{10, 20}

In [191]:
 {10, 20, 30} & {5, 10, 15, 20}

{10, 20}

In [192]:
 {10, 20, 30} ^ {5, 10, 15, 20}

{5, 15, 30}

In [194]:
 {10, 20, 30} | {5, 10, 15, 20}

{5, 10, 15, 20, 30}

In [195]:
 {10, 20, 30} - {5, 10, 15, 20}

{30}